

.displayContainer {
    display: flex;
}



.artistContainer {
display: flex;
flex-direction: column;
width: 50vw;
flex-wrap: wrap;
margin-top: 10px;
}

.artistContainer img {
    width: 100px;
    aspect-ratio: 1;
    
}

.artistCard {
    padding: 10px;
    background-color: blueviolet;
    margin: 10px;
    width: 50%;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: end;
    color: white;
    cursor: pointer;
}
.artistCard:hover {
    background-color: hsl(308, 90%, 72%);
    
}

.artistCard h3 {
    color: white;
    justify-content: end;
}

.albumsContainer {
    width: 50vw;
    height: 500px;
    display: grid;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows: 125px 125px 125px 125px;
}

.albumsContainer > p {
    font-size: .5rem;
}